body
{
	  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	  text-align: left;
	  margin: 1px;
	  color: #000000;
	  background-color: #ffffff;
	  padding: 0mm;
	  float: left;
	  display: block;
	  text-decoration: none;
}

ul {
	list-style: none;
}
.cultfilm {
	font-size: 20px;
}


nav {
	display: flex;
	justify-content: space-between;
	padding: 16px;

}

nav ul {
	display:block;
	align-items: center;
	list-style: none;
}

nav a {
	margin-right: 12px;

}
	
.imagemtopo {
	max-width: 100%;
}

* {
  box-sizing: border-box;
}


input[type=text],select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 11px 11px 11px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #030404;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
  width: 50%;
  margin-left: 10cm;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 10px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 10px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width:600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

h1 {
	margin-left: 10cm;
}
.msg {
	margin-left: 10cm;
}
.bg {
	background-image: url("img/contato.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;

}
.qs {
	background-image: url("img/quemsomos.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position:initial;
	background-attachment: fixed;

}
.mapa {
	padding: 10px;
	width: 50%;
	margin-left: 7cm;
}
.local {
	padding: 10px;
	width: 50%;
	margin-left: 7cm;
}
.avenida {
	padding: 10px;
	width: 50%;
	margin-left: 7cm;
}
footer {
	text-align: center;
	padding: 4px;
	background-color: black;
	color: white;
	display: block;
}

.botão [type=submit] {
	background-color: #1cafaf;
	color: white;
	padding: 12px 20px;
	margin: 7%;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: left;
  }
  
.botão [type=submit]:hover {
	background-color: #45a049;
  }
